@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fuente personalizada - Motter Corpus */
@font-face {
    font-family: 'Motter Corpus';
    src: url('../fonts/Motter-Corpus-Std-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Aplicar la fuente por defecto */
@layer base {
    /* html {
        font-family: 'Motter Corpus', system-ui, sans-serif;
    } */

    /* Clases de utilidad para la fuente */
    .font-motter {
        font-family: 'Motter Corpus', system-ui, sans-serif;
    }
}

[x-cloak] {
    display: none;
}

